<div  class="hero-unit">
	
	<h1>Welcome to One Month Rails!</h1>
		
		<p>
			Find me in app/views/pages/home.html.erb 
		</p>
		<p>
		<%= link_to "One Month Rails", "http://onemonthrails.com", class: "btn btn-primary btn-large" %>

		</p>


</div>